{
  "openapi": "3.1.0",
  "info": {
    "title": "P2X Platform API",
    "version": "0.1.0-spec",
    "description": "Auto-generated from `php artisan route:list --json` and controller introspection. Source of truth for the unified P2X SDK and module test suites. Multi-tenant: every request must send `X-Domain`. PUT/PATCH may be tunneled via POST + `_method=PUT|PATCH` per Laravel convention.",
    "license": {
      "name": "Proprietary",
      "url": "https://project20x.com"
    }
  },
  "servers": [
    {
      "url": "https://api.openyc.org",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "Core",
      "description": "Core monolith routes from app/Http/Controllers (auth, users, programs, chains, dashboard, payments)."
    },
    {
      "name": "Modules/Activity",
      "description": "Activity / scheduling / location bookings (Modules/Activity)."
    },
    {
      "name": "Modules/Agents",
      "description": "AI agent CRUD, intents, search, intelligent routing (Modules/Agents)."
    },
    {
      "name": "Modules/Appeal",
      "description": "Appeal workflow on top of compliance/disbursement decisions (Modules/Appeal)."
    },
    {
      "name": "Modules/Application",
      "description": "Application intake forms (Modules/Application)."
    },
    {
      "name": "Modules/Assessments",
      "description": "Assessments / questions / answer flows (Modules/Assessments)."
    },
    {
      "name": "Modules/Challenge",
      "description": "Program challenges and gamified tasks (Modules/Challenge)."
    },
    {
      "name": "Modules/Connector",
      "description": "External-system connectors (Modules/Connector)."
    },
    {
      "name": "Modules/Disbursement",
      "description": "Disbursement and payout decisions (Modules/Disbursement)."
    },
    {
      "name": "Modules/ETL",
      "description": "ETL pipelines (Modules/ETL)."
    },
    {
      "name": "Modules/FollowUps",
      "description": "Follow-up meetings and post-action workflows (Modules/FollowUps)."
    },
    {
      "name": "Modules/Items",
      "description": "Generic items / catalog primitives (Modules/Items)."
    },
    {
      "name": "Modules/KPI",
      "description": "Key Performance Indicators (Modules/KPI)."
    },
    {
      "name": "Modules/Nudge",
      "description": "Nudge SMS/email check-ins (Modules/Nudge)."
    },
    {
      "name": "Modules/Order",
      "description": "Orders, line items, checkout (Modules/Order)."
    },
    {
      "name": "Modules/Referral",
      "description": "Referral / invite flows (Modules/Referral)."
    },
    {
      "name": "Modules/Report",
      "description": "Reporting endpoints (Modules/Report)."
    },
    {
      "name": "Modules/Services",
      "description": "Service-layer admin routes (Modules/Services)."
    },
    {
      "name": "Modules/Verification",
      "description": "Verification workflows (Modules/Verification)."
    },
    {
      "name": "Modules/Workflow",
      "description": "Generic workflow engine (Modules/Workflow)."
    },
    {
      "name": "Vendor/Coinbase",
      "description": "Shakurov\\Coinbase webhook receiver \u2014 public, signature-verified."
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/api/activity-location": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "activity-location.index",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationController@index",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityLocationResource"
                      }
                    },
                    "links": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "post": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "activity-location.store",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationController@store",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityLocationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity-location/{activity_location}": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "activity-location.show",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationController@show",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "activity_location",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ActivityLocation"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityLocationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "put": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "activity-location.update",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationController@update",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "activity_location",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ActivityLocation"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityLocationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "activity-location.destroy",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationController@destroy",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "activity_location",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ActivityLocation"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityLocationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/booked-events-day/{date}": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "get.api.activity.booked-events-day.item",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@showDayBookings",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityCalendarBookingItemsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/booked-events-month/{date}": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "get.api.activity.booked-events-month.item",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@showMonthBookings",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityCalendarBookingsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/confirm-booking": {
      "post": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "post.api.activity.confirm-booking",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@confirmBooking",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmBookingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ConfirmBookingResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/expert-finish/{booking}": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "get.api.activity.expert-finish.item",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@finishByExpert",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "booking",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityServiceFinishedResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/failed-service/{booking}": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "get.api.activity.failed-service.item",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@failedService",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "booking",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityServiceFinishedResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/get-booking-windows/{location}/{service}/{week}": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "get.api.activity.get-booking-windows.item.item.item",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@show",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "week",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityLocationBookingResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/get-pending-amount": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "get.api.activity.get-pending-amount",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServicesController@getPendingRequests",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityPendingRequestsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/get-providers/{activity}": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "get.api.activity.get-providers.item",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServicesController@getProviders",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "activity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model CreatorActivity"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityProvidersResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/handle-event": {
      "post": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "post.api.activity.handle-event",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@handleBookedEvents",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HandleBookedEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityLocationBookingResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/reset-reservation": {
      "post": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "post.api.activity.reset-reservation",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@resetReservation",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetReservationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LocationReservationBookingResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/running": {
      "post": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "post.api.activity.running",
        "summary": "Modules\\Activity\\Http\\Controllers\\RunningServiceLocationController@show",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShowRunningActivityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RunningServiceScheduleResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/set-reservation": {
      "post": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "post.api.activity.set-reservation",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@setReservation",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetReservationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/LocationReservationBookingResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/activity/user-finish/{booking}": {
      "get": {
        "tags": [
          "Modules/Activity"
        ],
        "operationId": "get.api.activity.user-finish.item",
        "summary": "Modules\\Activity\\Http\\Controllers\\LocationServiceBookingController@finishByUser",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "booking",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ActivityServiceFinishedResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/admin-search": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "post.api.admin-search",
        "summary": "App\\Http\\Controllers\\CodifySubprojects\\SubprojectAdministratorsController@search",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubprojectAdministratorsListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SubprojectAdministratorsResource"
                      }
                    },
                    "links": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/administrator": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "administrator.store",
        "summary": "App\\Http\\Controllers\\CodifySubprojects\\SubprojectAdministratorsController@store",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubprojectAdministratorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SubprojectAdministratorsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/administrator/{administrator}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "administrator.show",
        "summary": "App\\Http\\Controllers\\CodifySubprojects\\SubprojectAdministratorsController@show",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "administrator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model Admin"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SubprojectAdministratorsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "put": {
        "tags": [
          "Core"
        ],
        "operationId": "administrator.update",
        "summary": "App\\Http\\Controllers\\CodifySubprojects\\SubprojectAdministratorsController@update",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "administrator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model Admin"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubprojectAdministratorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SubprojectAdministratorsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "tags": [
          "Core"
        ],
        "operationId": "administrator.destroy",
        "summary": "App\\Http\\Controllers\\CodifySubprojects\\SubprojectAdministratorsController@destroy",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "administrator",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model Admin"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SubprojectAdministratorsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/account/finish-registration": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "post.api.agent.account.finish-registration",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@finishRegistration",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentAccountConfirmationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/account/get-status": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.account.get-status",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@getAccountStatus",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentAccountConfirmationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/account/{chain}/confirm-code": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "post.api.agent.account.item.confirm-code",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@confirmCode",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmCodeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentAccountConfirmationResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/communicate/{chain}/assigned-experts": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.communicate.item.assigned-experts",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@getAssignedExperts",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentProgramExpertsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/communicate/{chain}/get-status": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.communicate.item.get-status",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@getAgentStatus",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentStatusResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/communicate/{chain}/initialize-agent": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.communicate.item.initialize-agent",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@initializeAgent",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/InitializeAgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/communicate/{chain}/invites": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.communicate.item.invites",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@getProgramInvites",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/communicate/{chain}/messages": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "post.api.agent.communicate.item.messages",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@getAgentMessages",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAgentMessagesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentMessagesResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/communicate/{chain}/send-message": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "post.api.agent.communicate.item.send-message",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@sendMessage",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageToAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentUserMessageResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/list": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.list",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@getAgentList",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentsListResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/program-state/{chain}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.program-state.item",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@getProgramState",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentProgramStateResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/program-status/{chain}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.program-status.item",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@getProgramStatus",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentProgramStatusResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agent/retry-creation/{chain}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.agent.retry-creation.item",
        "summary": "App\\Http\\Controllers\\Core\\AgentController@retryProgramCreation",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model ProtocolPersonalChain"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentProgramStatusResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents": {
      "get": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.index",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@index",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.store",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@store",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/execute-protocol": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.execute.protocol",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@executeProtocol",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteProtocolRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agents_module_execute_protocolResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/intelligent/entity/identify": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.intelligent.entity.identify",
        "summary": "Modules\\Agents\\Http\\Controllers\\IntentRoutingController@identifyEntity",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agents_module_intelligent_entity_identifyBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agents_module_intelligent_entity_identifyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/intelligent/intent/batch": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.intelligent.batch",
        "summary": "Modules\\Agents\\Http\\Controllers\\IntentRoutingController@batchProcess",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agents_module_intelligent_batchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agents_module_intelligent_batchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/intelligent/intent/process": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.intelligent.process",
        "summary": "Modules\\Agents\\Http\\Controllers\\IntentRoutingController@processIntent",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agents_module_intelligent_processBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agents_module_intelligent_processResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/intelligent/search": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.intelligent.search",
        "summary": "Modules\\Agents\\Http\\Controllers\\IntentRoutingController@searchAgents",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/agents_module_intelligent_searchBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agents_module_intelligent_searchResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/intelligent/statistics": {
      "get": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.intelligent.statistics",
        "summary": "Modules\\Agents\\Http\\Controllers\\IntentRoutingController@getStatistics",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agents_module_intelligent_statisticsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/resume-execution": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.execute.resume",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@resumeExecution",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResumeExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agents_module_execute_resumeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/{agent}": {
      "get": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.show",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@show",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "put": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.update",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@update",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.destroy",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@destroy",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/agents_module_destroyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/{agent}/activate": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.activate",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@activate",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/{agent}/clone": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.clone",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@clone",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/{agent}/deactivate": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.deactivate",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@deactivate",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/{agent}/executions": {
      "get": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.executions",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@executions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentExecutionResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/{agent}/statistics": {
      "get": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.statistics",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@statistics",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentStatisticsResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/agents/{agent}/tools/{tool}": {
      "post": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.tools.add",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@addTool",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "tags": [
          "Modules/Agents"
        ],
        "operationId": "agents.module.tools.remove",
        "summary": "Modules\\Agents\\Http\\Controllers\\AgentController@removeTool",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/delete-model": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "post.api.ai.delete-model",
        "summary": "App\\Http\\Controllers\\Core\\AiSettingsController@deleteModel",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/post_api_ai_delete_modelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/get-models": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.ai.get-models",
        "summary": "App\\Http\\Controllers\\Core\\AiSettingsController@getListOfModels",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AiResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/get-models-list": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.ai.get-models-list",
        "summary": "App\\Http\\Controllers\\Core\\AiSettingsController@getListOfInstalledModels",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_api_ai_get_models_listResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/get-settings": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.ai.get-settings",
        "summary": "App\\Http\\Controllers\\Core\\AiSettingsController@getSettings",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AiResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/install-model": {
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "post.api.ai.install-model",
        "summary": "App\\Http\\Controllers\\Core\\AiSettingsController@installModel",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/post_api_ai_install_modelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/installation-status": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.ai.installation-status",
        "summary": "App\\Http\\Controllers\\Core\\AiSettingsController@checkInstallationStatus",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/get_api_ai_installation_statusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/log": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "admin.ai.log.index",
        "summary": "App\\Http\\Controllers\\Core\\AiLogsController@index",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LogsResource"
                      }
                    },
                    "links": {
                      "type": "object"
                    },
                    "meta": {
                      "type": "object"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "admin.ai.log.store",
        "summary": "App\\Http\\Controllers\\Core\\AiLogsController@store",
        "description": "method store not found in declared class; may be inherited",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/log/{log}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "admin.ai.log.show",
        "summary": "App\\Http\\Controllers\\Core\\AiLogsController@show",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "log",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model AiResponseLogs"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SingleLogResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "put": {
        "tags": [
          "Core"
        ],
        "operationId": "admin.ai.log.update",
        "summary": "App\\Http\\Controllers\\Core\\AiLogsController@update",
        "description": "method update not found in declared class; may be inherited",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "log",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "tags": [
          "Core"
        ],
        "operationId": "admin.ai.log.destroy",
        "summary": "App\\Http\\Controllers\\Core\\AiLogsController@destroy",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "log",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bound to model AiResponseLogs"
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/SingleLogResource"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/policy": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "policy.index",
        "summary": "App\\Http\\Controllers\\Core\\PoliciesController@index",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "post": {
        "tags": [
          "Core"
        ],
        "operationId": "policy.store",
        "summary": "App\\Http\\Controllers\\Core\\PoliciesController@store",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/policy_storeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/policy-file/{file}": {
      "delete": {
        "tags": [
          "Core"
        ],
        "operationId": "delete.api.ai.policy-file.item",
        "summary": "App\\Http\\Controllers\\Core\\PoliciesController@deleteFile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/XDomainHeader"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/delete_api_ai_policy_file_itemResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Forbidden"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/ai/policy-list/{prompt}": {
      "get": {
        "tags": [
          "Core"
        ],
        "operationId": "get.api.ai.policy-list.item",
        "summary": "App\\Http\\Controllers\\Core\\PoliciesController@listByPrompt",
        "security": [
          {
[...]
